#pica img {
width: 31%;
margin-top: 3%;
margin-right: 0% !important;
}

h1 {
font-size: 6em;
}

.svg-contentz {
width: 56%;
}

div#sep {
margin-top: -18%;
padding-top: 11em;
}

#weare {
font-family: 'Raleway', sans-serif;
color: #bf4b31;
width: 96%;
margin-left: 1.5%;
font-size: 0.8em;
}
