h1.leader {
font-size: 5em;
	color: #000 !important;
	margin: 0;
	padding: 0;
	padding-bottom: 18px !important;
	font-family: 'Michroma', sans-serif !important;
	background: rgba(255, 255, 255, 0.6);
	}
	
	
	body {
	overflow: hidden;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../examples/imgs/status3.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
	
div#clients {
  display: flex;
}


div#clients img {
width:50%;
}

div#clientz{

display: flex;
}

div#clientwrap {
width: 36%;
margin-left: 32%;
margin-top: 19%;
}

div#clientz img {
width:50%;
}


svg.svg-contentz2 {
width: 50%;
margin-top: -11%;
}



/* svg#idea-bulb:hover {
-ms-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition-duration: 3s;
transition-duration: 3s;
} * /

/* svg#desigico:hover{
-ms-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition-duration: 3s;
transition-duration: 3s;
} */

/* svg#rocketico :hover{
-ms-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition-duration: 3s;
transition-duration: 3s;
} */

/* svg#supportico:hover {
-ms-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition-duration: 3s;
transition-duration: 3s;
} */


#pica img {
width: 25%;
margin-right: 25%;
margin-top: 3%;
}

#weare{
font-family: 'Raleway', sans-serif;
color:#bf4b31;
width: 50%;
margin-left: 25%;
}

div#launchico {
width: 25%;

}

div#sep {

}

svg.svg-contentz3 {
width: 29%;
margin-top: -7%;
}



div#lbulb {
width: 25%;
}

div#designico {
width: 25%;
}

div#suppico {
width: 25%;
}

#gidea {
width:33%;
margin-left: 20%;
margin-top: 3%;
}

#gidea h2 {
color:#ced6b4;
font-family: 'Geostar', cursive;
font-size:3em; 
padding-bottom: 6%;
}

#gidea p{
color: #bf4b31;
font-family: 'Raleway', sans-serif;
}

#section0{
		background-image: url(imgs/nesitelong.png);
		background-position:bottom;
		background-size: cover;
	}
	
div#section1 {
background:#1d181f;
}
	
div#section2 {
background:#1d181f;
}

#section3 {
background: #40362e;
background-image: url(imgs/cavetopsmoosh5.png),url(imgs/riverbottom3.png);
background-repeat: no-repeat;
background-size: contain;
background-position: top,bottom;
}

#section3 h1 {
  color: #f1553a;
  font-size: 9em;

}

div#section4 {
background:#40362e;
background-image: url(imgs/riverbottom2.png);
background-position:bottom;
background-repeat: no-repeat;
background-size: contain;
}

div#section5{
background:#1d181f;
background-image: url(imgs/splashwaterfall2.png);
background-repeat: no-repeat;
background-size: contain;

}

.watery {
background-image: url('imgs/waterbottom.png');
width: 100%;
height: 83%;
margin-top: 13%;
}

div#section6{
background:#1d181f;
background-image: url(imgs/waterbottom.png);
background-position: bottom;

}


div#icoline {
width: 100%;
height: 20%;
display: -webkit-inline-box;
}

h3.offerh a {
color: #ced6b4;
}

.offerh{
color:#ced6b4;
font-family: 'Geostar', cursive;
font-size: 2.2em;
padding-top: 1em;
}


.svg-container {
display: inline-block;
position: relative;
width: 100%;
vertical-align: middle;
overflow: hidden;
}

.svg-content {
width: 85%;
}

.svg-contentz {
width: 58%;
margin-top: -14%;
}


.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}


div#icoline2{
display:none;
}





.maininico {
width: 45%;
float: left;
}

.maindes {
width: 40%;
float: right;
padding-right: 10%;
padding-top: 10%;
}

p.maintex {
color: #ced6b4;
font-family: 'Raleway', sans-serif;
}

h1.maintit {
font-family: 'Geostar', cursive !important;
font-size: 6em;
color: #bf4b31;
}

.centersta {
padding-top: 8%;
}

iframe{transform:scale(0.219);-webkit-transform:scale(0.219);-o-transform:scale(0.219);-ms-transform:scale(0.219);-moz-transform:scale(0.219);transform-origin:top left;-webkit-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;-moz-transform-origin:top left;margin:0;padding:0;position:relative;background-color:#fff}
.mobile{background-image:url("../examples/imgs/iphone-optimised.png");position:absolute;width:95px;height:196px;bottom:1%;z-index:5}
.mobile iframe{width:320px;height:480px;top:33px;left:11px;overflow-y:hidden}
.tablet{background-image:url("../examples/imgs/ipad-optimised.png");width:246px;height:400px;z-index:3;position:absolute; bottom:-7%; background-repeat: no-repeat;}
.tablet iframe{width:768px;height:1024px;top:36px;left:39px;overflow-y:hidden}
.laptop{background-image:url("../examples/imgs/laptop-screen-optimised.png");width:477px;height:307px;bottom:2%;position:absolute;z-index:2}
.laptop iframe{width:1280px;height:802px;top:26px;left:60px;transform:scale(0.277);-webkit-transform:scale(0.277);-o-transform:scale(0.277);-ms-transform:scale(0.277);-moz-transform:scale(0.277);transform-origin:top left;-webkit-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;-moz-transform-origin:top left}
.desktop{position:absolute;width:566px;height:538px;background-image:url("../examples/imgs/large-screen-optimised.png");bottom:0%;z-index:1}
.desktop iframe{left:28px;top:38px;width:1600px;height:992px;transform:scale(0.3181);-webkit-transform:scale(0.3181);-o-transform:scale(0.3181);-ms-transform:scale(0.3181);-moz-transform:scale(0.3181);transform-origin:top left;-webkit-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;-moz-transform-origin:top left}.about-tool{font-size:1.2em;max-width:64em;width:80%;margin:1em auto}


iframe{transform:scale(0.219);-webkit-transform:scale(0.219);-o-transform:scale(0.219);-ms-transform:scale(0.219);-moz-transform:scale(0.219);transform-origin:top left;-webkit-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;-moz-transform-origin:top left;margin:0;padding:0;position:relative;background-color:#fff}
.mobile2{background-image:url("../examples/imgs/iphone-optimised.png");position:absolute;width:95px;height:196px;top:375px;z-index:5}
.mobile2 iframe{width:320px;height:480px;top:33px;left:11px;overflow-y:hidden}
.tablet2{background-image:url("../examples/imgs/ipad-optimised.png");width:246px;height:400px;z-index:3;position:absolute;top:230px; background-repeat: no-repeat;}
.tablet2 iframe{width:768px;height:1024px;top:36px;left:39px;overflow-y:hidden}
.laptop2{background-image:url("../examples/imgs/laptop-screen-optimised.png");width:477px;height:307px;top:264px;position:absolute;z-index:2}
.laptop2 iframe{width:1280px;height:802px;top:26px;left:60px;transform:scale(0.277);-webkit-transform:scale(0.277);-o-transform:scale(0.277);-ms-transform:scale(0.277);-moz-transform:scale(0.277);transform-origin:top left;-webkit-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;-moz-transform-origin:top left}
.desktop2{position:absolute;width:566px;height:538px;background-image:url("../examples/imgs/large-screen-optimised.png");top:0px;z-index:1}
.desktop2 iframe{left:28px;top:38px;width:1600px;height:992px;transform:scale(0.3181);-webkit-transform:scale(0.3181);-o-transform:scale(0.3181);-ms-transform:scale(0.3181);-moz-transform:scale(0.3181);transform-origin:top left;-webkit-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;-moz-transform-origin:top left}