h1.leader {
font-size: 5em;
	color: #000 !important;
	margin: 0;
	padding: 0;
	padding-bottom: 18px !important;
	font-family: 'Michroma', sans-serif !important;
	background: rgba(255, 255, 255, 0.6);
	}
	


#section3 h1 {

padding-top: 5%;

}

#pica img {
width: 25%;
margin-right: 25%;
margin-top: 3%;
}

#weare{
font-family: 'Raleway', sans-serif;
color:#bf4b31;
width: 50%;
margin-left: 25%;
}

div#sep {
margin-top: -110px;
}

#gidea {
width:33%;
margin-left: 20%;
margin-top: 3%;
}

div#lbulb {
width: 50%;
margin-left: 45%;
margin-top: -250px;
}

#gidea h2 {
color:#ced6b4;
font-family: 'Geostar', cursive;
font-size:3em; 
padding-bottom: 6%;
}

#gidea p{
color: #bf4b31;
font-family: 'Raleway', sans-serif;
}

#section0{
		background-image: url(imgs/nesitelong.png);
		background-position:bottom;
	}
#section3 {
background:#1d181f;
}

