h1.leader {
font-size: 5em;
	color: #000 !important;
	margin: 0;
	padding: 0;
	padding-bottom: 18px !important;
	font-family: 'Michroma', sans-serif !important;
	background: rgba(255, 255, 255, 0.6);
	}
	


#section3 h1 {

padding-top: 5%;

}

#pica img {
width: 25%;
margin-right: 25%;
margin-top: 3%;
}

#weare{
font-family: 'Raleway', sans-serif;
color:#bf4b31;
width: 50%;
margin-left: 25%;
}

div#launchico {
width: 25%;

}

div#sep {
margin-top: -25%;
padding-top: 3em;
}



div#lbulb {
width: 25%;
}

div#designico {
width: 25%;
}

div#suppico {
width: 25%;
}

#gidea {
width:33%;
margin-left: 20%;
margin-top: 3%;
}

#gidea h2 {
color:#ced6b4;
font-family: 'Geostar', cursive;
font-size:3em; 
padding-bottom: 6%;
}

#gidea p{
color: #bf4b31;
font-family: 'Raleway', sans-serif;
}

#section0{
		background-image: url(imgs/nesitelong.png);
		background-position:bottom;
		background-size: cover;
	}
#section3 {
background:#1d181f;
}

div#icoline {
width: 100%;
height: 20%;
display: -webkit-inline-box;
}

.offerh{
color:#ced6b4;
font-family: 'Geostar', cursive;
font-size: 1.2em;
padding-top: 1em;
}


.svg-container {
display: inline-block;
position: relative;
width: 100%;
vertical-align: middle;
overflow: hidden;
}

.svg-content {
width: 37%;
}

.svg-contentz {
width: 62%;
padding-top: 59px;
}


