#pica img {
width: 90%;
margin-top: 3%;
margin-right:0% !important;
}

h1 {
font-size: 12em;
}

div#icoline {
display: none;
}

#weare {
font-family: 'Raleway', sans-serif;
color: #bf4b31;
width: 90%;
margin-left: 5%;
font-size: 1.5em;
}

.svg-contentz {
width: 90%;
padding-top: 0% !important;
}

div#sep {
margin-top: -27%;
padding-top: 9em;
}


div#clients {
display: block;
}

svg.svg-contentz2 {
width: 94%;
margin-top: -14%;
}

div#icoline2 {
width: 100%;
height: 20%;
display: block;
}

div#icoline {
display: none;
}

div#top2 {
display: flex;
}

div#bottom2 {
display: flex;
}

div#lbulb {
width: 85%;
}

div#launchico {
width: 85%;
padding-top: 10%;
}

div#designico {
width: 85%;
}

div#suppico {
width: 85%;
padding-top: 10%;
}

.taggy {
margin-top: 10px;
}

.offerh {
white-space: nowrap;
}

.maininico {
width: 100%;
float: none;
}

.maindes {
width: 85%;
padding-left: 7.5%;
padding-top: 10%;
}
