#pica img {
width: 90%;
margin-top: 3%;
margin-right:0% !important;
}

h1 {
font-size: 12em;
}

div#icoline {
width: 100%;
height: 20%;
display: block;
}

#weare {
font-family: 'Raleway', sans-serif;
color: #bf4b31;
width: 90%;
margin-left: 5%;
font-size: 1.5em;
}

.svg-contentz {
width: 90%;
padding-top: 0% !important;
}

div#sep {
margin-top: -27%;
padding-top: 9em;
}


svg.svg-contentz2 {
width: 94%;
margin-top: -14%;
}